.Collaborations{
    text-align: center;
}

.collabHeading{
    margin-bottom: 20px;
}

.CollaborationSlider{
    position: relative;
}

.CollaborationSlider > button{
    height: 100%;
    z-index: 4;
    position: absolute;
}

.Collaborations > .slick-slider > .slick-prev{
    visibility: visible;
    left: 0 !important;
 }

.Collaborations > .slick-slider > .slick-next{
    visibility: visible;
    right: 0 !important;
 }

 .CollabPicWrapper > img{
    width: 100%;
    background: #00ffc4;
    border-radius: 10px;
 }

 .CollabPicWrapper{
    padding: 1rem 0.8rem;
    margin-bottom: -1px;
 }

 .CollaborationSlider > .slick-list{
    background: rgb(0, 0, 0) !important;
    border-radius: 10px;
 }


 @media (max-width:450px){
    .CollabPicWrapper{
        padding: 0.5rem 0.5rem;
     }
    .collabHeading{
        font-size: 1.2rem;
    }
 }