
.Ads{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.adImage{
    border-radius: 20px;
    width: 100%;
}

@media (max-width:880px){
    .Ads{
        grid-template-columns: repeat(2,1fr);
    }
    .Larger{
        grid-column: span 2;
    }
    .adImage{
        border-radius: 14px;
    }
}