@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

.Cart{
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    background: #F5F5F5;
    gap: 1rem;
}

.CartContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartHeading{
    background: rgb(0, 0, 0);
    text-align: center;
    color: aquamarine;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Phudu', cursive;
}

.emptyMessage {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Phudu', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.emptyMessage > a{
    background-color: #222222;
    padding: 1rem 2rem;
    border-radius: 14px;
    word-spacing: 1.5px;
    letter-spacing: 2px;
}

.emptyMessage > a:hover{
    background-color: black;
}

@media (max-width:600px){
    .Cart{
        padding: 0;
        gap: 0;
    }
    .cartHeading{
        border-radius: 0;
        font-size: 1.2rem;
    }
    .CartContainer{
        gap: 8px;
    }
}