.sideBar{
    max-width: 280px;
    width: 100%;
    border-radius: 30px;
    background: black; 
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    padding: 40px 40px;
    position: sticky;
    top: 1rem;
    min-height: 100vh;
    height: 100%;
}

.pagelogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.pagelogo > img{
    margin-left: 20px;
    width: 50%;
}

.logoname{
    display: flex;
    flex-direction: column;
}

.logoname > h1{
    font-family: cursive ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 24px;
}

.profile{
    margin-top: -20px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: cursive, sans-serif;
}

.profile > img{
    width: 40px;
    border-radius: 50%;
}

.icons{
    color: white;
}

.sideLinks{
    display: flex;
    gap: 20px;
    color: white;
}

.sideLinks:hover .icons{
    color: rgb(0, 229, 255);
}

.linkActive{
    color: aqua;
}

.bottomLinks{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

@media (max-width:1050px){
    .sideBar{
        width: 130px;
        padding: 3rem 1rem;
        border-radius: 20px;
        align-items: center;
    }
    .logoname{
        display: none;
    }
    .pagelogo > img{
        margin: 0;
        width: 60px;
    }
    .sideLinks > span{
        display: none;
    }
    .profile > span{
        display: none;
    }
    .bottomLinks{
        display: none;
    }
}

@media (max-width:600px){
    .sideBar{
        border-radius: 0;
        top: 0;
        width: 80px;
        padding: 3rem 0rem;
    }
}