@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');

.Shop{
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    background: #F5F5F5;
    gap: 1rem;
}


.ShopContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.ShopControls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    z-index: 1;
    color: rgb(255, 255, 255);
    background: black;
}

.listBtns{
    display: flex;
    gap: 10px;
}

.listbtn{
    color: white;
    cursor: pointer;
}

.listBtnActive{
    color: aquamarine;
}

.SearchBar{
    background: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.SearchBar > input{
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.Sorting > select , .Category > select{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

@media (max-width:700px){
    .Sorting > select{
        width: 60px;
    }
    .Category > select{
        width: 50px;
    }
    .listBtns{
        gap: 0;
    }
    .ShopControls{
        gap: 5px;
        padding: 10px 5px;
    }
}

@media (max-width:600px){
    .Shop{
        padding: 0;
        gap: 0;
    }
    .ShopControls{
        position: sticky;
        top: 0;
    }
}