@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,300&display=swap');

.Shop{
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    background: #F5F5F5;
    gap: 1rem;
}

.ShopTopBar{
    z-index: 1;
    background-color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.ShopContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.ProductQuantity{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    padding-top: 0;
    font-family: 'Phudu', cursive;
}

.ShopControls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    color: rgb(255, 255, 255);
}

.listBtns{
    display: flex;
    gap: 10px;
}

.listbtn{
    color: white;
    cursor: pointer;
}

.listBtnActive{
    color: aquamarine;
}

.SearchBar{
    background: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.SearchBar > input{
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.Sorting > select , .Category > select{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.filterClearBtnDesktop,.filterClearBtnMobile{
    color: aquamarine;
    cursor: pointer;
}

.filterClearBtnMobile{
    display: none;
}

@media (max-width:700px){
    .Sorting > select{
        width: 60px;
    }
    .Category > select{
        width: 50px;
    }
    .listBtns{
        gap: 0;
    }
    .ShopControls{
        gap: 5px;
        padding: 10px 5px;
    }
}

@media (max-width:600px){
    .Shop{
        padding: 0;
        gap: 0;
    }
    .ShopTopBar{
        position: sticky;
        top: 0;
        border-radius: 0;
    }
    .ShopControls{
        padding: 10px 5px;
    }
    .ProductQuantity{
        font-size: 0.8rem;
        justify-content: space-between;
        padding: 2px 10px;
        margin-top: -4px;
    }
    .filterClearBtnDesktop{
        display: none;
    }
    .filterClearBtnMobile{
        display: block;
    }
}