.BannerPic{
    width: 100%;
}

.slick-prev{
   visibility: hidden;
}

.slick-next{
    visibility: hidden;
}

.slider >ul > li > button::before{
    font-size: 10px;
}

.slick-active > button::before {
    width: 40px;
}

@media 