.GridContainer{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding: 10px;
}

.GridCard {
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 4px 5px 8px -1px #00000075;
    overflow: hidden;
    background-color: black;
    color: white;
    transition: 100ms ease-in-out;
} 

.CardPic{
    overflow: hidden;
    position: relative;
    min-height: 300px;
}

.CardPic > img{
    inset: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.CardDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 5px 10px;
    padding-bottom: 10px;
}

.GridCard:hover {
    transform: scale(1.02);
}

@media(max-width:713px){
    .CardPic{
        position: static;
        min-height: 0;
    }
    .CardPic > img{
        position: static;
    }
}