.CartProductCartContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    padding: 10px;
}

.cartCardDetails{
    width: 100%;
    display: flex;
    gap: 10px;
}

.CartCard{
    width: 100%;
    min-height: 240px;
    display: flex;
    color: black;
    border-radius: 10px;
    box-shadow: 4px 5px 8px -1px #00000075;
    overflow: hidden;
    background-color: black;
    color: white;
    position: relative;
}

.CartCardPic{
    position: relative;
    width: 40%;
    transition: 100ms ease-in-out;
}

.CartCardPic > img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cartCardBottom{
    margin-top: auto;
    margin-bottom: 20px;
}

.cartCardTop{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartCardName{
    color: wheat;
    font-size: 2rem;
    font-family: 'Phudu', cursive;
}

.cartCardPrice{
    color: wheat;
    font-size: 1.4rem;
    font-family: 'Phudu', cursive;
}

.removeBtn{
    padding: 10px;
    cursor: pointer;
    border: none;
    background: rgb(255 68 68);
    color: white;
    font-size: 1rem;
    font-weight: 900;
}

.removeBtn:hover{
    background-color: rgb(249, 28, 28);;
}

.trash{
    cursor: pointer;
    border: none;
    position: absolute;
    right: 10px;
    bottom: 22px;
    display: none;
    background: black;
    color: red
}

@media (max-width:800px){
    .cartCardName{
        font-size: 1.6rem;
    }
    .cartCardPrice{
        font-size: 0.8rem;
    }
    .CartCardPic{
        width: 80%;
    }
    .CartCard{
        min-height: 200px;
    }
    .removeBtn{
        font-size: 0.8rem;
        padding: 5px;
    }
}


@media (max-width:600px){
    .CartCardPic{
        width: 100%;
    }
    .CartCard{
        min-height: 180px;
    }
    .cartCardBottom{
        margin-bottom: 10px;
    }
    .cartCardName{
        font-size: 1.2rem;
    }
    .cartCardPrice{
        font-size: 0.8rem;
    }
    .removeBtn{
        display: none;
    }
    .trash{
        display: block;
    }
}