.Home{
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    background: #F5F5F5;
    gap: 1rem;
}

.HomeRightSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 0;
    min-width: 0;
}

.freeReturn{
    background: black;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
}

.freeReturn > h2{
    font-size: 1.2rem;
}

@media (max-width:600px){
    .Home{
        padding: 0;
        gap: 0;
    }
    .HomeRightSection{
        padding: 0 10px;
    }
}

@media (max-width:480px){
    .HomeRightSection{
        gap: 1rem;
    }
    .freeReturn{
        margin-top: 20px;
    }
    .freeReturn  > h2{
        font-size: 1.2rem;
    }
}